:root {
  font-family: "Roboto,Arial !important";
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
   margin: 0;
  background-image: url("../public/images/bluesky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

